<div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-youtube"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">KIDS</a>
    </li>
  </ul>

  <ul class="nav justify-content-center">
    <img src="../../assets/img/Star-Wars-logoo.png" alt="" />
  </ul>

  <ul class="nav justify-content-end derecha">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search Star Wars"
        aria-label="Recipient's username with two button addons"
      />
      <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
    </div>
  </ul>
  <ul class="nav justify-content-end login">
    <li class="nav-item">
      <a class="nav-link" href="#">LOG IN</a>
    </li>
    <li class="guiones">//</li>
    <li class="nav-item">
      <a class="nav-link" href="#">SIGN UP</a>
    </li>
  </ul>

  <ul class="nav justify-content-center centro">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">NEWS+BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">VIDEO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FILMS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SERIES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">INTERACTIVE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">COMMUNITY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DATABANK</a>
    </li>
  </ul>
</div>
