<div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">NEWS+BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">VIDEO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FILMS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SERIES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">INTERACTIVE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">COMMUNITY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DATABANK</a>
    </li>
  </ul
>
</div>
