<app-header></app-header>

<div class="container">
  <div class="row">
    <div *ngFor="let starship of starships">
      <h2 routerLink="/detalle/{{ starship.name }}">{{ starship.name }}</h2>
      <hr />
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" (click)='getData()'>More Starships</a></li>
        <!-- <li class="page-item"><a class="page-link" href="#" (click)='getData2()'>2</a></li>
        <li class="page-item"><a class="page-link" href="#" (click)='getData3()'>3</a></li>
        <li class="page-item"><a class="page-link" href="#" (click)='getData4()'>4</a></li> -->
      </ul>
    </nav>
  </div>
</div>
