h2 {
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFE919;
}

p{
  font-size: x-large;

}

button{
  background-color: transparent;
  color: white;
  width: 100px;
  background-color:#242424;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(75, 75, 75,0.75);
}
button:hover{
  color: #FFE919 ;

}
